

<!-- <div class="facebook-login-container">
  <button class="facebook-login-btn" (click)="loginWithFacebook()">
    <i class="fab fa-facebook-f"></i>
    Login with Facebook
  </button>
</div> -->


<div class="container">
  <div class="hero-section d-flex align-center justify-center">
    <div class="d-flex flex-column align-center">
      <h1 [innerHTML]="headline" class="text-center"></h1>
      <p style="width: 50%;" class="text-center mt-4" [innerHTML]="subheadline"></p>
      <button class="btn btn-primary mt-4">Start Free Trial</button>
      
      <!-- <div class="col" style="width: 50%;">
        <img src="../../../assets/img/landing-image.webp" alt="Landing Image" width="100%">
      </div> -->

    </div>
    
  </div>
</div>