

// .hero-section {
//   // background-color: var(--block-color);
//   // box-shadow: var(--box-shadow);
//   // height: 100vh;
//   height: 50vh;
// }

.landing-container {
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .landing-container {
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    .landing-container {
        max-width: 700px;
    }
}

@media (max-width: 767px) {
    .landing-container {
        max-width: 95%;
    }
}