
<div class="container">

    <div class="header d-flex flex-row justify-between align-center">
        <div>
            Saas
        </div>
        
        <nav>
            <a href="#" class="opacity-65">Features</a>
            <a href="#" class="opacity-65">Pricing</a>
            <a (click)="showSignUpModal()">
                <button>
                    <!-- Start Free Trial -->
                    Get started. For Free!
                </button>
            </a>
            <!-- <a routerLink="/login">
                <button>
                    Sign In FB
                </button>
            </a> -->
            <a routerLink="/report">
                <button>
                    Go to Report
                </button>
            </a>
        </nav>
    </div>
</div>

