
<div class="container">

    <div class="header flex-row justify-between align-center">
        <div>
            Saas
        </div>
        
        <nav>
            <a href="#" class="opacity-65">Features</a>
            <a href="#" class="opacity-65">Pricing</a>
            <a (click)="showSignUpModal()">
                <button>
                    <!-- Start Free Trial -->
                    Get started. For Free!
                </button>
            </a>
            <!-- <a routerLink="/login">
                <button>
                    Sign In FB
                </button>
            </a> -->
            <a routerLink="/report">
                <button>
                    Go to Report
                </button>
            </a>
        </nav>
    </div>

    <div class="mobile-header flex-row justify-between align-center">
        <div>
            Saas
        </div>
        
        <nav>
            <!-- <a href="#" class="opacity-65">Features</a>
            <a href="#" class="opacity-65">Pricing</a> -->
            <a (click)="showSignUpModal()">
                <button>
                    <!-- Start Free Trial -->
                    Sign up
                </button>
            </a>
            <div class="burger-menu cursor-pointer" (click)="toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="mobile-nav" [class.active]="isMobileMenuOpen">
                <a href="#">Features</a>
                <a href="#">Pricing</a>
            </div>
        </nav>
    </div>

</div>

