<div class="container">

  <div *ngIf="!isFbLoggedIn" class="d-flex flex-column justify-center align-center mt-7">
    <p>Please login to connect your clients</p>
    <button class="blue mt-3" (click)="fbLogin()">
      Login with Facebook
    </button>
  </div>

  <div *ngIf="isFbLoggedIn">
    <div style="display: grid; grid-template-columns: 69% 29%; gap: 2%;" class="mt-4">

      <div 
      class="p-4"
      style="background: var(--block-color); border-radius: 20px; box-shadow: var(--box-shadow)">
        <!-- Content for left block -->
        <div class="d-flex align-center gap-3">
          <h3>Clients</h3>
          <button class="blue">
            <i class="fa-solid fa-plus color-white"></i>
            Add client
          </button>
        </div>
      </div>
      
      <div 
      class="p-4"
      style="background: var(--block-color); border-radius: 20px; box-shadow: var(--box-shadow)">
        <!-- Content for right block -->
        <h3>Activity</h3>
      </div>

    </div>
  </div>
  


</div>
