<div class="container">

  <div *ngIf="!isFbLoggedIn" class="d-flex flex-column justify-center align-center mt-7">
    <p>Please login to connect your clients</p>
    <button class="blue mt-3" (click)="fbLogin()">
      Login with Facebook
    </button>
  </div>

  <div *ngIf="isFbLoggedIn">
    <div style="display: grid; grid-template-columns: 69% 29%; gap: 2%;">
      <div style="background: var(--block-color); border-radius: 20px; padding: 20px;">
        <!-- Content for left block -->
         <h3>Clients</h3>
      </div>
      <div style="background: var(--block-color); border-radius: 20px; padding: 20px;">
        <!-- Content for right block -->
        <h3>Activity</h3>
      </div>
    </div>
  </div>
  


</div>
